body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f5;
}

.map {
  position: relative;
  text-align: center;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.part {
  opacity: 0.3;
}

.part:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
  cursor: pointer;
}

.description {
  display: none;
  position: absolute;
  padding: 0px;
  box-sizing: border-box;
  width: 300px;
  height: 450px;
  box-shadow: 0 0 32px 10px #ccc;
  left: 50px;
  bottom: calc(50% - 200px);
  font-size: 250%;
  font-family: sans-serif;
}

.description img {
  width: 250px;
  margin-bottom: 20px;
}

.gerb {
  margin-top: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

a.glo {
  color: #00c6ff;
  padding: 10px 20px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  margin: 20px auto;
  display: block;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #00c6ff 50%,
    #00c6ff
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all 0.25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid #00c6ff;
  margin-bottom: 10px;
}
a.glo:hover {
  background-position: 0 0;
  color: #fff;
}
.home {
 position: fixed;
 top: 50px;
 left: 30px;
 padding: 10px;
 display: block;
 background-image: url("../media/main/home-solid.svg");
 background-repeat: no-repeat;
 background-size: 60%;
 background-position: center;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background-color: #F5F5F5;
 box-shadow: 0 0 55px rgba(0, 0, 0, 0.1);
}

.box {
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.1);
  bottom: calc(50% - 200px);
  background-color: #F5F5F5;
}

.box2 {
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  position: relative;
  box-sizing: border-box;
  width: 70%;
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.1);
  bottom: calc(50% - 200px);
  background-color: #F5F5F5;
}

.tx {
  margin-left: 2%;
  margin-right: 2%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  line-height: 1.5;
}
